*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
/*Above is my boiler plate css for all my apps*/
/*Add and style body tag*/
body{
    background: rgb(243, 189, 189);
    color: rgb(100, 95, 95);
}
/*Beautify search-box*/
.search-box{
    margin: 220px auto 0;
    border-radius: 6px;
    width: 650px;
    background: rgb(80, 73, 62);
}
/*beautify row*/
.row{
    align-items: center;
    display: flex;
    padding: 12px 22px;
}
/*Beautify input field*/
input{
    height: 55px;
    border: 0;
    outline: 0;
    flex: 1;
    color: rgb(66, 62, 62);
    background: transparent;
    font-size: 20px;
}
/*Design button and icon*/
button{
    border: 0;
    outline: 0;
    background: transparent;
}
/*Beautify icon*/
button .fa-solid{
    color: rgb(103, 143, 145);
    width: 26px;
    font-size: 23px;
    cursor: pointer;
}
/*Color change for text in placeholder*/
::placeholder{
    color: rgb(53, 73, 73);
}
/*Style result-box*/
.result-box ul{
    padding: 16px 12px;
    border-top: 2px solid rgb(71, 63, 63);
}
/*Styling for result box li*/
.result-box ul li{
    padding: 16px 12px;
    cursor: pointer;
    list-style: none;
    border-radius: 4px;
}
/*Add hover effect for suggested search terms*/
.result-box ul li:hover{
    background: rgb(119, 158, 158);
}
/*Styling for result box*/
.result-box{
    overflow-y: scroll;
    max-height: 300px;
}