*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
/*Above is my boiler plate css for all my apps*/
/*Add and style body tag*/
body{
    background: firebrick;
    color: black;
}
/*Beautify search-box*/
.search-box{
    margin: 220px auto 0;
    border-radius: 6px;
    width: 650px;
    background: wheat;
}
/*beautify row*/
